#testimonials .title{
    text-align: center;
}
#testimonials .clients_container{
    margin-top: 50px;
}
#testimonials .slick-prev,
#testimonials .slick-next{
    display: none;
}
#testimonials .slick-track{
    display: flex !important;
    gap: 20px;
}
#testimonials  .slick-slide{
    height: inherit !important;
    padding: 20px;
    border: solid 2px var(--color-primary);
    border-radius: var(--radius-3);
    display: flex;
    flex-direction: column;
    background: var(--color-ui-secondary);
    transition: var(--transition);
}
#testimonials .slick-slide:hover{
    transform: scale(0.98);
}
#testimonials .slick-slide > div{
    flex: 1;
    display: flex;
    align-items: stretch;
    flex-direction: column;
}

#testimonials .slick-slide .stars_container{
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--color-primary);
    margin-bottom: 10px;
}


#testimonials .slick-slide > div.content{
    flex: 1;
}
#testimonials .slick-slide .user_row{
    display: flex;
    margin-top: 20px;
    gap: 20px;
    padding: 10px 20px;
    background: var(--color-primary);
    border-radius: var(--radius-3);
}